<footer class="footer mt-3">
  <div class="row">
    <div class="col-6">
     <h6>Acesse nossas redes socias</h6> 
     <i class="bi bi-facebook mr-2"></i>
    
       <a href="https://www.instagram.com/alfenarcondicionado/" class="redes-link" style="display: inline-flex;"><i class="bi bi-instagram mr-2"></i></a>
 
     <i class="bi bi-whatsapp"></i>
    </div>

    <div class="col-6">
      <h6>Developed</h6> 
      <a href="https://www.linkedin.com/in/ionara-roque-aba056191/" class="redes-link">
        <i class="bi bi-linkedin"></i>
        Ionara Roque
      </a>

     </div>

  </div>
</footer>