<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: blue;">
    <a class="navbar-brand" href="#" style="font-size: 330%;">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin: inherit">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: right;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/acesso/adm" style="color: #ffffff">Inicio</span></a>
        </li>
        <li>
          <a class="nav-link" href="/acesso/adm/clientes" style="color: #ffffff">Clientes</span></a>
        </li>
        <li>
          <a class="nav-link" href="/acesso/adm/colaboradores" style="color: #ffffff">Colaboradores</span></a>
        </li>
        <li>
          <a class="nav-link" href="/acesso/adm/estoque" style="color: #ffffff">Estoque</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color: #ffffff">Cadastros</a>
          <div class="dropdown">
            <ul class="dropdown-menu drop-left">
              <li><a class="dropdown-item" href="/acesso/adm/ambientes">Ambiente</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/marcas">Marca</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/modelos">Modelo</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/btus">Btus</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/origens">Origem</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/prestacoes">Prestação de Serviços</span></a></li>
              <li><a class="dropdown-item" href="/acesso/adm/pagamentos">Modo de Pagamento</span></a></li>

            </ul>
          </div>
        </li>
        <li>
          <a class="nav-link" href="/acesso" style="color: #ffffff">Sair</a>
        </li>
      </ul>
     
    </div>
  </nav>
</header>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
